**/.git
.git/**
.github/**
.gitmodules/**
.vscode/**
coverage/**
typescript/**

**/*.ts
**/*.vsix
**/*.js.map
**/*.test.js
**/*.gitignore
**/*.tsbuildinfo
**/*.vscodeignore

**/tsconfig.json
**/eslint.config.mjs
**/tsconfig.build.json

package/compiler/**
esbuild.js