**/.git
.git/**
.github/**
.gitmodules/**
.vscode/**
coverage/**
typescript/**

**/*.ts
**/*.vsix
**/*.js.map
**/*.test.js
**/*.gitignore
**/*.tsbuildinfo
**/*.vscodeignore

**/tsconfig.json
**/eslint.config.mjs
**/tsconfig.build.json

core/source/**
core/bin/**
build.js